* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 3rem; */
    gap: 7vmin;
    margin-top: 5rem;
}

.choice {
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 23vmin;
    height: 23vmin;
    object-fit: cover; 
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choices-name {
    display: flex;
    justify-content: center;
    margin-top: 2vmin;
    gap: 21vmin;
}
.img-name {
    font-size: 5vmin;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

.userscore {
    color: blue;
}
.compscore {
    color: red;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}
#msg {
    display: inline;
    background-color: #081b31;
    color: #fff;
    font-size: 5vmin;
    padding: 1rem;
    border-radius: 1rem;
}