* {
    margin: 0;
    padding: 0;

}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 7vmin;
}

.navbar {
    background-color: #8a95a5;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    width: 18vmin;
    height: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 3vmin;
    background-color: #b9c6ae;
}
.btn:hover {
    cursor: pointer;
    opacity: 80%;
    border: 2px solid black;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vmin;
    margin-top: 2.5rem;
}

.choice {
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 23vmin;
    height: 23vmin;
    object-fit: cover; 
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choices-name {
    display: flex;
    justify-content: center;
    margin-top: 1vmin;
    gap: 21vmin;
}
.img-name {
    font-size: 5vmin;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.userscore {
    color: #24b09b;
}
.compscore {
    color: #730071;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 2.5rem;
    text-align: center;
}
#msg {
    display: inline;
    background-color: #081b31;
    color: #fff;
    font-size: 5vmin;
    padding: 1rem;
    border-radius: 1rem;
}

.hide {
    display: none;
}

#rule {
    list-style-position: inside;
    margin: 3vmin;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 15vmin;
    font-size: 3vmin;
}

table {
    width: 100vmin;
    height: 72vmin;
}

th {
    height: 8vmin;
}

td {
    height: 4vmin;
    text-align: center;
}

.win {
    background-color: green;
    color: #fff;
}
.lose {
    background-color: red;
}
.draw {
    background-color: gray;
    /* color: white; */
}
h4 {
    font-size: 5vmin;
}

.about-game {
    font-size: 3vmin;
}
li {
    font-size: 3vmin;
}

.wincondition{
    text-align: center;
}
.table {
    display: flex;
    justify-content: center;
}
